---
pagination:
    data: families
    size: 1
    alias: family
    addAllPagesToCollections: true
eleventyComputed:
    title: "{{ family.name }} | MEMC"
    description: "The detail page for the order {{ family.name }}"
layout: layout.njk
css: ['rel=stylesheet href=/css/families.css']
js: [
    'defer src=/js/families.js type=module',
    'defer src=/js/families.legacy.js nomodule'
]
permalink: "/orders/{{ family.order.name.toLowerCase() }}/families/{{ family.name.toLowerCase() }}/"
---
{% block css %}
    <link rel="stylesheet" href="/css/families.css" />
{% endblock %}

<h1>
    {{ family.name }} {{ family.authority }} 
    {% if family.common_name %}
        – {{ family.common_name }}
    {% endif %}
</h1>

<span id="page-nav-label" hidden>Page</span>
<nav aria-labelledby="page-nav-label" id="toc">
    Subfamilies
    <ul>
        {% for subfamily in subfamilies %}
            {% if subfamily.family.name === family.name %}
                <li>
                    <a href="#{% if '--' not in subfamily.name %}{{ subfamily.name.toLowerCase() }}{% else %}incertae-sedis{% endif %}">
                        {% if '--' in subfamily.name %}
                            <i>Incertae sedis</i>
                        {% else %}
                            {{ subfamily.name }}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

<p class="hide" id="empty-family">There are no species pages in this family.</p>

{% for subfamily in subfamilies %}
    {% if subfamily.family.name === family.name %}
        <h2 id="{% if '--' not in subfamily.name %}{{ subfamily.name.toLowerCase() }}{% else %}incertae-sedis{% endif %}">
            {% if '--' in subfamily.name %}
                <i>Incertae sedis</i>
            {% else %}
                {{ subfamily.name }}
            {%endif %} 
            {% if '--' not in subfamily.authority %}
                {{ subfamily.authority }}
            {% endif %} 
            {% if subfamily.common_name %}
                – {{ subfamily.common_name }}
            {% endif %}
        </h2>

        <span id="subfamily-list-label-{{ subfamily.name }}" hidden>Species under subfamily {{ subfamily.name }}</span>
        <p class="empty-subfamily hide">There are no species pages in this subfamily.</p>
        <ul aria-labelledby="subfamily-list-label-{{ subfamily.name }}" class="taxonomy-list">
            {% for page in pages | sort(attribute='species.p3') %}
                {% if page.subfamily.name === subfamily.name %}
                    <li>
                        <a href="/orders/{{ family.order.name.toLowerCase() }}/families/{{ family.name.toLowerCase() }}/species/{{ page.slug }}">
                            {% set featuredImage = insectImages | findFeaturedBySpecies(page.title) %}
                            {% if featuredImage %}
                                <img alt="{{ featuredImage.alt_text }}" src="{{ featuredImage.file }}" />
                            {% else %}
                                <img alt="" src="/assets/placeholder.webp" />
                                <span class="placeholder-label" id="{{ page.genus.name }}-{{ page.species.name }}">No image</span>
                            {% endif %}
                            <span class="common-name">{{ page.species.common_name }}</span>
                            <span class="taxon-name"><i>{{ page.get_binomial }}</i></span>
                            {% if page.species.p3 or page.species.mona %}
                                <div class="taxon-numbers">
                                    <span class="p3">P3# {{ page.species.p3 }}</span>
                                    <span class="mona">MONA# {{ page.species.mona }}</span>
                                </div>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <a class="back-to-top" href="#main">
            <img alt="" src="/assets/uxwing/arrow-top-icon-white.svg" />
            Back To Top
        </a>
    {% endif %}
{% endfor %}