---
title: Labels | MEMC
description: The labels page for the MEM Collection site.
layout: layout.njk
css: ['rel=stylesheet href=/css/labels.css']
js: [
    'defer src=/js/labels.js type=module',
    'defer src=/js/labels.legacy.js nomodule'
]
---

<h1>Generate Labels</h1>
<p>
    The form below is for generating labels that can be printed and attached to actual specimens.
    Use the form to create labels for a subset of specimens,
    or leave all fields blank to generate a label for each specimen in the database.
</p>
<br />
<p>
    Note: The generated labels are optimized for printing from <em>Firefox only</em>.
    Chrome cannot render fonts below 4pt, and Safari is not as precise when dealing with decimals (e.g., 2.75pt).
</p>
<form aria-labelledby="label-label" id="label-form">
    <span hidden id="label-label">Label Generator</span>
    <fieldset>
        <legend>Taxonomy</legend>
        <label for="order-input">
            Order
            <input id="order-input" inputmode="text" name="order" type="text"/>
        </label>
        <label for="family-input">
            Family
            <input id="family-input" inputmode="text" name="family" type="text"/>
        </label>
        <label for="subfamily-input">
            Subfamily
            <input id="subfamily-input" inputmode="text" name="subfamily" type="text"/>
        </label>
        <label for="tribe-input">
            Tribe
            <input id="tribe-input" inputmode="text" name="tribe" type="text"/>
        </label>
        <label for="genus-input">
            Genus
            <input id="genus-input" inputmode="text" name="genus" type="text"/>
        </label>
        <label for="species-input">
            Species
            <input id="species-input" inputmode="text" name="species" type="text"/>
        </label>
        <label for="subspecies-input">
            Subspecies
            <input id="subspecies-input" inputmode="text" name="subspecies" type="text"/>
        </label>
        <label for="determiner-first-name-input">
            Determiner First Name
            <input id="determiner-first-name-input" inputmode="text" name="determiner_firstname" type="text"/>
        </label>
        <label for="determiner-last-name-input">
            Determiner Last Name
            <input id="determiner-last-name-input" inputmode="text" name="determiner_lastname" type="text"/>
        </label>
        <label for="determined-year-input">
            Determined Year
            <input id="determined-year-input" inputmode="text" name="determined_year" type="number"/>
        </label>
    </fieldset>
    <fieldset>
        <legend>Specimen Info</legend>
        <label for="usi-input">
            Unique Specimen Identifier (USI)
            <input id="usi-input" inputmode="text" name="usi" type="text"/>
        </label>
        <label for="preparer-first-name-input">
            Preparer First Name
            <input id="preparer-first-name-input" inputmode="text" name="preparer_firstname" type="text"/>
        </label>
        <label for="preparer-last-name-input">
            Preparer Last Name
            <input id="preparer-last-name-input" inputmode="text" name="preparer_lastname" type="text"/>
        </label>
        <label for="preparation-type-input">
            Preparation Type
            <select id="preparation-type-input" name="preparation">
                <option></option>
                <option>alcohol</option>
                <option>container</option>
                <option>envelope</option>
                <option>minuten</option>
                <option>pinned</option>
                <option>pointed</option>
                <option>spread</option>
            </select>
        </label>
        <label for="preparation-date-input">
            Preparation Date
            <input id="preparation-date-input" inputmode="text" name="preparation_date" type="date"/>
        </label>
        <label for="sex-input">
            Sex
            <select id="sex-input" name="sex">
                <option></option>
                <option>male</option>
                <option>female</option>
                <option>unknown</option>
            </select>
        </label>
        <label for="stage-input">
            Stage
            <select id="stage-input" name="stage">
                <option></option>
                <option>egg</option>
                <option>larva</option>
                <option>nymph</option>
                <option>pupa</option>
                <option>adult</option>
            </select>
        </label>
         <label for="labels-printed-input">
            Labels Printed?
            <select id="labels-printed-input" name="labels_printed">
                <option></option>
                <option>true</option>
                <option>false</option>
                <option>unknown</option>
            </select>
        </label>
        <label for="labeled-input">
            Labeled?
            <select id="labeled-input" name="labeled">
                <option></option>
                <option>true</option>
                <option>false</option>
                <option>unknown</option>
            </select>
        </label>
        <label for="photographed-input">
            Photographed?
            <select id="photographed-input" name="photographed">
                <option></option>
                <option>true</option>
                <option>false</option>
                <option>unknown</option>
            </select>
        </label>
        <label for="identified-input">
            Identified?
            <select id="identified-input" name="identified">
                <option></option>
                <option>true</option>
                <option>false</option>
                <option>unknown</option>
            </select>
        </label>
    </fieldset>
    <fieldset>
        <legend>Geography</legend>
        <label for="country-input">
            Country
            <input id="country-input" inputmode="text" name="country" type="text"/>
        </label>
        <label for="state-input">
            State
            <input id="state-input" inputmode="text" name="state" type="text"/>
        </label>
        <label for="county-input">
            County
            <input id="county-input" inputmode="text" name="county" type="text"/>
        </label>
        <label for="locality-input">
            Locality
            <input id="locality-input" inputmode="text" name="locality" type="text"/>
        </label>
        <label for="latitude-input">
            Latitude
            <input id="latitude-input" inputmode="decimal" name="gps_lat" type="number"/>
        </label>
        <label for="longitude-input">
            Longitude
            <input id="longitude-input" inputmode="decimal" name="gps_long" type="number"/>
        </label>
        <label for="elevation-input">
            Elevation (meters)
            <input id="elevation-input" inputmode="numeric" name="elevation" type="number"/>
        </label>
        <label for="collecting-trip-input">
            Collecting Trip
            <input id="collecting-trip-input" inputmode="text" name="collecting_trip" type="text"/>
        </label>
    </fieldset>
    <fieldset>
        <legend>Collecting Event</legend>
        <label for="day-input">
            Day
            <input id="day-input" inputmode="numeric" max="31" min="1" name="day" type="number"/>
        </label>
        <label for="month-input">
            Month
            <select id="month-input" name="month">
                <option></option>
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
            </select>
        </label>
        <label for="year-input">
            Year
            <input id="year-input" inputmode="numeric" name="year" type="number"/>
        </label>
        <label for="collector-first-name-input">
            Collector First Name
            <input id="collector-first-name-input" inputmode="text" name="collector_firstname" type="text"/>
        </label>
        <label for="collector-last-name-input">
            Collector Last Name
            <input id="collector-last-name-input" inputmode="text" name="collector_lastname" type="text"/>
        </label>
        <label for="method-input">
            Method
            <select id="method-input" name="method">
                <option></option>
                <option>Bait</option>
                <option>By hand</option>
                <option>LED light sheet</option>
                <option>Light</option>
                <option>MV light</option>
                <option>MV light sheet</option>
                <option>Net</option>
                <option>Reared</option>
                <option>Sweep</option>
                <option>Trap</option>
                <option>UV light</option>
                <option>UV light sheet</option>
                <option>UV/MV light sheet</option>
                <option>UV/MV/LED light sheet</option>
                <option>UV trap</option>
            </select>
        </label>
        <label for="weather-input">
            Weather
            <input id="weather-input" inputmode="text" name="weather" type="text"/>
        </label>
        <label for="temp-input">
            Temperature (Fahrenheit only)
            <input id="temp-input" inputmode="decimal" name="temperature" type="number"/>
        </label>
        <label for="time-input">
            Time of Day
            <input id="time-input" inputmode="text" name="time_of_day" type="time"/>
        </label>
        <label for="habitat-input">
            Habitat
            <input id="habitat-input" inputmode="text" name="habitat" type="text"/>
        </label>
        <label for="notes-input">
            Notes
            <input id="notes-input" inputmode="text" name="notes" type="text"/>
        </label>
    </fieldset>
    <div class="form-buttons">
        <button type="submit">Create Labels!</button>
        <button type="reset">Clear Form</button>
    </div>
</form>

<h2>Output</h2>
<p>There are currently no labels. Use the form above to create some!</p>
<div id="label-output"></div>