---
title: Orders | MEMC
description: View all orders that are part of the collection.
layout: layout.njk
css: ['rel=stylesheet href=/css/shared-styles/taxon.css']
js: [
    'defer src=/js/orders.js type=module',
    'defer src=/js/orders.legacy.js nomodule'
]
permalink: "/orders/"
---

<h1>Orders</h1>
<ul class="taxonomy-list">
    {% for order in orders %}
        <li>
            <a href="/orders/{{ order.name.toLowerCase() }}">
                <div>
                    {% if order.featured_image %}
                        <img
                            src="{{ order.featured_image.thumbnail.file }}"
                            alt="{{ order.featured_image.alt_text }}"
                        />
                    {% else %}
                        {% include "placeholder.njk" %}
                    {% endif %}
                </div>
                <span class="taxon-name">
                    {{ order.name }}
                </span>
            </a>
        </li>
    {% endfor %}
</ul>