---
pagination:
    data: orders
    size: 1
    alias: order
    addAllPagesToCollections: true
eleventyComputed:
    title: "{{ order.name }} | MEMC"
    description: "The detail page for the order {{ order.name }}"
layout: layout.njk
css: ['rel=stylesheet href=/css/shared-styles/taxon.css']
js: [
    'defer src=/js/orders.js type=module',
    'defer src=/js/orders.legacy.js nomodule'
]
permalink: "/orders/{{ order.name.toLowerCase() }}/"
---

<h1>{{ order.name }} {{ order.authority }} – {{ order.common_name }}</h1>
<div class="breadcrumbs">
    <a href="/orders">Orders</a> / {{ order.name }}
</div>
<p class="hide" id="empty-taxon">There are no family pages in this order.</p>

<span id="family-list-label" hidden>Families</span>
<ul aria-labelledby="family-list-label" class="taxonomy-list">
    {% for family in families %}
        {% if family.order.name === order.name %}
            <li>
                <a href="/orders/{{ order.name.toLowerCase() }}/{{ family.name.toLowerCase() }}/">
                    <div>
                        {% if family.featured_image %}
                            <img
                                src="{{ family.featured_image.thumbnail.file }}"
                                alt="{{ family.featured_image.alt_text }}"
                            />
                        {% else %}
                            {% include "placeholder.njk" %}
                        {% endif %}
                    </div>
                    <span class="taxon-name">{{ family.name }}</span>
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>