---
title: Specimens | MEMC
description: The specimens page for the MEM Collection site.
layout: layout.njk
css: [
    'rel=stylesheet href=/css/specimens.css',
    'rel=stylesheet href=https://unpkg.com/leaflet@1.9.4/dist/leaflet.css
        integrity=sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=
        crossorigin='
]
js: [
    'defer src=/js/specimens.js type=module',
    'defer src=/js/specimens.legacy.js nomodule'
]
---

<h1>Specimens</h1>

<h2 id="search-header" tabindex="-1">Search</h2>
<p id="search-description">
    Use the form to search for specimens in the database. Specimens with GPS data will appear on the 
    map below, while any specimens matching the search criteria will appear in the table below. 
    Submitting an empty form will return all specimens in the database (may take a few seconds to load).
</p>
<form aria-describedby="search-description" aria-labelledby="search-label" class="filters">
    <span hidden id="search-label">Specimen Search</span>
    <div class="inputs-container">
        <div class="input-wrapper">
            <label for="species-input">Species</label>
            <p class="input-hint" id="species-input-hint">
                Latin or common name. Examples: 'Speyeria', 'Mormon Fritillary'
            </p>
            <input aria-describedby="species-input-hint" id="species-input" inputmode="text" type="text" />
        </div>
        <div class="input-wrapper">
            <label for="state-input">State</label>
            <p class="input-hint" id="state-input-hint">
                Full name or abbreviation. Examples: 'Arizona', 'AZ'
            </p>
            <input aria-describedby="state-input-hint" id="state-input" inputmode="text" type="text" />
        </div>
        <div class="input-wrapper">
            <label for="date-input">Date</label>
            <p class="input-hint" id="date-input-hint">
                Full or partial date. Examples: '2021-08-26', '26 August 2021', 'August 2021'
            </p>
            <input aria-describedby="date-input-hint" id="date-input" inputmode="numeric" type="text" />
        </div>
    </div>
    <div class="checkboxes-container">
        <label>
            <span>Identified to species</span>
            <input checked id="id-input" type="checkbox" />
        </label>
        <label>
            <span>Unidentified to species</span>
            <input checked id="unid-input" type="checkbox" />
        </label>
    </div>
    <button class="filter-button" type="submit">Update</button>
</form>

<h2 id="map-label">Map: <span id="specimen-count-gps"></span></h2>
<a class="visually-hidden" href="#table-header" id="skip-map-forward">Skip over map to table</a>
<div id="map-and-loader">
    <div id="loader">
        Loading...
    </div>
    <section aria-labelledby="map-label" id="map">
        <div hidden id="bottom-left-controls">
            <button id="reset-map-button">Reset Map</button>
            <section aria-hidden="true" id="legend">
                <img alt="" height="24" src="/assets/uxwing/map-pin-icon-blue.svg" width="16.984" /><span>Identified</span>
                <img alt="" height="24" src="/assets/uxwing/map-pin-icon-pink.svg" width="16.984" /><span>Unidentified</span>
                {# <span class="legend-circle" id="circle-identified"></span>
                Identified
                <span class="legend-circle" id="circle-unidentified"></span>
                Unidentified #}
            </section>
        </div>
    </section>
</div>
<a class="visually-hidden" href="#search-header" id="skip-map-back">Back to search form</a>

<h2 id="table-header" tabindex="-1">Table: <span id="specimen-count-all"></span></h2>
<p id="empty-table">No data to display! Use the form above to search for some specimens.</p>
<div class="table-container" hidden>
    <table aria-labelledby="table-caption" role="table">
        <caption hidden id="table-caption">Specimens in collection: <span id="specimen-count">{{ specimens.length }}</span></caption>
        <thead>
            <tr>
                <th aria-sort="ascending" data-attribute="usi">
                    <button class="header-button">
                        Specimen Number
                        <img alt="" class="asc" height="8.64" src="/assets/uxwing/chevron-thin-up-icon-white.svg" width="16" />
                        <img alt="" class="desc" height="8.64" hidden src="/assets/uxwing/chevron-thin-down-icon-white.svg" width="16" />
                    </button>
                </th>
                <th data-attribute="taxon">
                    <button class="header-button">
                        Taxon
                        <img alt="" class="asc" height="8.64" hidden src="/assets/uxwing/chevron-thin-up-icon-white.svg" width="16" />
                        <img alt="" class="desc" height="8.64" hidden src="/assets/uxwing/chevron-thin-down-icon-white.svg" width="16" />
                    </button>
                </th>
                <th data-attribute="common_name">
                    <button class="header-button">
                        Common Name
                        <img alt="" class="asc" height="8.64" hidden src="/assets/uxwing/chevron-thin-up-icon-white.svg" width="16" />
                        <img alt="" class="desc" height="8.64" hidden src="/assets/uxwing/chevron-thin-down-icon-white.svg" width="16" />
                    </button>
                </th>
                <th data-attribute="country">
                    <button class="header-button">
                        Country
                        <img alt="" class="asc" height="8.64" hidden src="/assets/uxwing/chevron-thin-up-icon-white.svg" width="16" />
                        <img alt="" class="desc" height="8.64" hidden src="/assets/uxwing/chevron-thin-down-icon-white.svg" width="16" />
                    </button>
                </th>
                <th data-attribute="state">
                    <button class="header-button">
                        State
                        <img alt="" class="asc" height="8.64" hidden src="/assets/uxwing/chevron-thin-up-icon-white.svg" width="16" />
                        <img alt="" class="desc" height="8.64" hidden src="/assets/uxwing/chevron-thin-down-icon-white.svg" width="16" />
                    </button>
                </th>
                <th data-attribute="locality">
                    <button class="header-button">
                        Location
                        <img alt="" class="asc" height="8.64" hidden src="/assets/uxwing/chevron-thin-up-icon-white.svg" width="16" />
                        <img alt="" class="desc" height="8.64" hidden src="/assets/uxwing/chevron-thin-down-icon-white.svg" width="16" />
                    </button>
                </th>
                <th data-attribute="date">
                    <button class="header-button">
                        Date
                        <img alt="" class="asc" height="8.64" hidden src="/assets/uxwing/chevron-thin-up-icon-white.svg" width="16" />
                        <img alt="" class="desc" height="8.64" hidden src="/assets/uxwing/chevron-thin-down-icon-white.svg" width="16" />
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            {# {% for specimen in specimens %}
                <tr>
                    <td><a href="/specimens/{{ specimen.usi.toLowerCase() }}">{{ specimen.usi }}</a></td>
                    {% if specimen.genus.name %}
                        <td class="italics">{{ specimen.taxon.name }}</td>
                    {% else %}
                        <td>{{ specimen.taxon.name }}</td>
                    {% endif %}
                    <td>{{ specimen.taxon.common_name }}</td>
                    <td>{{ specimen.country.abbr }}</td>
                    <td>{{ specimen.state.name }}</td>
                    <td>{{ specimen.locality.name }}</td>
                    <td>{{ specimen.num_date }}</td>
                </tr>
            {% endfor %} #}
        </body>
    </table>
</div>