<div id="nav-container">
    <span id="site-nav-label" hidden>Site</span>
    <nav aria-labelledby="site-nav-label" id="navigation">
        <button aria-labelledby="open-menu-label" id="open-menu">
            <span hidden id="open-menu-label">Open menu</span>
            {% include "uxwing/uxwing-hamburger-menu-icon.njk" %}
        </button>
        <a href="/" id="home-link">
            {% include "logo.njk" %}
            MEM Collection
        </a>
        <ul id="menu" role="list">
            <li class="first-list-item">
                <button aria-labelledby="close-menu-label" id="close-menu">
                    <span hidden id="close-menu-label">Close menu</span>
                    {% include "uxwing/uxwing-hamburger-menu-icon.njk" %}
                </button>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/specimens">Specimens</a>
            </li>
            <li>
                <a href="/collecting-trips">Trips</a>
            </li>
            <li class="dropdown-list-item">
                <button aria-controls="pages-dropdown"
                        aria-expanded="false"
                        id="pages-button">
                    Pages
                    <img alt="" class="icon-chevron-down" height="8.16" src="/assets/uxwing/chevron-down-icon-white.svg" width="14" />
                    <img alt="" class="icon-chevron-up hide" height="8.16" src="/assets/uxwing/chevron-up-icon-white.svg" width="14" />
                </button>
                <ul class="hide" id="pages-dropdown">
                    {% for order in orders %}
                    <li>
                        <a href="/orders/{{ order.name.toLowerCase() }}" tabindex="-1">{{ order.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="/labels">Labels</a>
            </li>
        </ul>
    </nav>
    <form aria-labelledby="site-search-label" id="search-container" role="search">
        <span hidden id="site-search-label">Site</span>
        <label class="visually-hidden" for="search-input">Search</label>
        <input id="search-input" type="text" />
        <button aria-labelledby="search-button-label" id="search-button">
            {% include "uxwing/uxwing-search-icon.njk" %}
            <span hidden id="search-button-label">Submit</span>
        </button>
    </form>
</div>