<div id="nav-container">
    <span id="site-nav-label" hidden>Site</span>
    <nav aria-labelledby="site-nav-label" id="navigation">
        <button aria-labelledby="open-menu-label" id="open-menu">
            <span hidden id="open-menu-label">Open menu</span>
            {% include "uxwing/uxwing-hamburger-menu-icon.njk" %}
        </button>
        <a href="/" id="home-link">
            {% include "logo.njk" %}
            MEM Collection
        </a>
        <ul id="menu" role="list">
            <li class="first-list-item">
                <button aria-labelledby="close-menu-label" id="close-menu">
                    <span hidden id="close-menu-label">Close menu</span>
                    {% include "uxwing/uxwing-hamburger-menu-icon.njk" %}
                </button>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/specimens">Specimens</a>
            </li>
            <li>
                <a href="/collecting-trips">Trips</a>
            </li>
            <li>
                <a href="/species">Species</a>
            </li>
            <li>
                <a href="/labels">Labels</a>
            </li>
        </ul>
    </nav>
    <form aria-labelledby="site-search-label" id="search-container" role="search">
        <span hidden id="site-search-label">Site</span>
        <label class="visually-hidden" for="search-input">Search</label>
        <input id="search-input" type="text" />
        <button aria-labelledby="search-button-label" id="search-button">
            {% include "uxwing/uxwing-search-icon.njk" %}
            <span hidden id="search-button-label">Submit</span>
        </button>
    </form>
</div>