#label-form {
    align-items: flex-end;
    background-color: var(--off-black);
    border-radius: 0.625rem;
    color: var(--off-white);
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.5rem;
    margin: 0.75rem 1.5rem;

    fieldset {
        align-items: flex-start;
        border: 2px solid var(--medium-green-level-1);
        display: flex;
        flex-flow: row wrap;
        font-size: 1.25rem;
        justify-content: flex-start;
        margin: 0.25rem;

        label {
            align-items: center;
            border-right: 1px solid var(--medium-gray-level-1);
            display: flex;
            flex-direction: row;
            font-size: 0.8rem;
            height: 2.5rem;
            justify-content: space-between;
            padding: 0 0.5rem;

            input,
            select {
                border: none;
                border-radius: 0.25rem;
                margin: 0 0 0 0.5rem;
                padding: 0.25rem;
                width: 50%;

                &:focus-visible {
                    outline: var(--light-green-level-1) solid 0.125rem;
                    outline-offset: 0.125rem;
                }
            }
        }
    }

    .form-buttons {
        display: flex;
        flex-direction: row;

        button {
            border: none;
            color: var(--off-white);
            font-size: 1rem;
            margin: 0.25rem;
            padding: 0.375rem 0.625rem;

            &:focus-visible,
            &:hover {
                color: var(--off-black);
            }

            &:focus-visible {
                outline-offset: 0.125rem;
            }
        }

        button[type='submit'] {
            background-color: var(--dark-green-level-3);

            &:focus-visible,
            &:hover {
                background-color: var(--medium-green-level-3);
            }

            &:focus-visible {
                outline: var(--light-green-level-1) solid 0.125rem;
            }
        }

        button[type='reset'] {
            background-color: var(--medium-pink-level-1);

            &:focus-visible,
            &:hover {
                background-color: var(--light-pink-level-2);
            }

            &:focus-visible {
                outline: var(--light-pink-level-2) solid 0.125rem;
            }
        }
    }
}

#label-output {
    align-items: flex-start;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0.75rem 1.5rem;

    .single-label {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        p {
            color: var(--black);
            margin: 0;
        }

        .label-locality,
        .label-notes,
        .label-taxonomy {
            border: 1.5px solid var(--black);
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0.5px;
            padding: 0.48px 0.72px;
            width: 82px;
        }

        .label-locality {
            align-items: flex-start;
        }

        .label-notes,
        .label-taxonomy {
            align-items: center;
        }

        .label-locality span,
        .label-notes span,
        .label-notes p,
        .label-taxonomy span {
            font-family: Geneva, sans-serif;
            font-size: 3pt;
            letter-spacing: -0.05px;
            line-height: 1.6;
            width: 100%;
        }

        .label-locality span {
            margin: 0;
            padding: 0;
        }

        .label-notes span,
        .label-notes p,
        .label-taxonomy span {
            text-align: center;
        }

        .label-usi {
            text-align: right;
        }
    }
}

@media (min-width: 1150px) {
    #label-form {
        fieldset {
            label {
                width: 23.7%;
            }

            /* To style element in 1st column (out of 4),
               need to add +2 to account for legend */
            label:nth-child(4n+2),
            label:nth-child(8n+2) {
                padding: 0 0.5rem 0 0;
            }

            /* To style last element in 4th column,
               need to add +1 to account for legend */
            label:nth-child(4n+1),
            label:nth-child(8n+1) {
                border: none;
                padding: 0 0 0 0.5rem;
            }
        }
    }
}

@media (min-width: 900px) and (max-width: 1149px) {
    #label-form {
        fieldset {
            label {
                width: 31.9%;
            }

            /* To style element in 1st column (out of 3),
               need to add +2 to account for legend */
            label:nth-child(3n+2),
            label:nth-child(6n+2),
            label:nth-child(9n+2) {
                padding: 0 0.5rem 0 0;
            }

            /* To style last element in 3rd column,
               need to add +1 to account for legend */
            label:nth-child(3n+1),
            label:nth-child(6n+1),
            label:nth-child(9n+1) {
                border: none;
                padding: 0 0 0 0.5rem;
            }
        }
    }
}

@media (min-width: 530px) and (max-width: 899px) {
    #label-form {
        fieldset {
            label {
                border: none;
                min-width: 11.5rem;
                padding: 0;
                width: 47.9%;
            }

            /* Odd numbered labels are considered even
               (and vice versa) due to legend */
            label:nth-child(even) {
                border-right: 1px solid var(--medium-gray-level-1);
                padding: 0 0.5rem 0 0;
            }

            label:nth-child(odd) {
                padding: 0 0 0 0.5rem;
            }
        }
    }
}

@media (max-width: 529px) {
    #label-form {
        fieldset {
            label {
                border: none;
                min-width: 11.5rem;
                padding: 0;
                width: 100%;
            }
        }
    }
}

@media print {
    div.no-print,
    #label-form.no-print,
    h2.no-print,
    p.no-print {
        display: none;
    }

    #label-output {
        display: block;
        overflow-wrap: normal;
        margin: 0;

        .single-label {
            break-after: avoid;
            break-before: avoid;
            break-inside: avoid;
            display: inline-block;
            margin: 0;

            .label-locality,
            .label-notes,
            .label-taxonomy {
                margin: 1px 0.5px;
            }
        }
    }
}
