@use 'shared-styles/leaflet';

h2:focus-visible {
    outline: var(--medium-green-level-3) solid 0.1875rem;
}

form.filters {
    background-color: var(--w-color-surface-dashboard-panel);
    border: 0.125rem solid var(--w-color-border-furniture);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    margin: 0.75rem 1.25rem;
    padding: 1rem;

    .checkboxes-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 1.5rem 0 0;

        label {
            align-items: center;
            color: var(--w-color-text-context);
            display: flex;
            margin: 0 1.5rem 0 0;
            max-width: 12.5rem;
            width: 30%;

            span {
                width: fit-content;
            }

            input[type='checkbox'] {
                accent-color: var(--w-color-surface-button-default);
                background-color: var(--w-color-text-button);
                box-sizing: border-box;
                font-size: 0.875rem;
                height: 1.25rem;
                line-height: 1.5rem;
                margin: 0 0 0 0.5rem;
                width: 1.25rem;

                &:hover {
                    accent-color: var(--w-color-surface-button-hover);
                }

                &:focus-visible {
                    outline: var(--w-color-focus) 0.125rem solid;
                    outline-offset: 0.125rem;
                }
            }
        }
    }

    .inputs-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .input-wrapper {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30%;

            .input-hint {
                font-size: 0.75rem;
                margin: 0.125rem 0 0;
                padding: 0;
            }

            input {
                font-size: 0.875rem;
                height: 1.875rem;
                line-height: 1.5rem;
                margin: 0.5rem 0 0;
                width: 100%;
            }
        }
    }

    button.filter-button {
        font-size: 1rem;
        margin: 1rem 0 0 auto;
        padding: 0.375rem 0.625rem;
        width: 5rem;

        &:focus-visible {
            outline-offset: 0.125rem;
        }
    }
}

table {
    min-width: 56.25rem;
    width: 100%;

    th,
    td {
        font-size: 0.875rem;
        padding: 0.125rem 0.25rem;
        text-align: left;
    }

    th {
        padding: 0.5rem 0;

        button.header-button {
            align-items: center;
            background-color: transparent;
            border: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            img {
                height: 0.54rem;
                width: 1rem;
            }
        }
    }

    th[data-attribute='usi'],
    th[data-attribute='taxon'],
    th[data-attribute='common_name'] {
        min-width: 9.375rem; // 150px
        width: 16.67%;
    }

    th[data-attribute='country'],
    th[data-attribute='date'] {
        min-width: 5rem; // 80px
        width: 8.89%;
    }

    th[data-attribute='state'] {
        min-width: 6.25rem; // 100px
        width: 11.11%;
    }

    th[data-attribute='locality'] {
        min-width: 11.875rem; // 190px
        width: 21.1%;
    }
}

#map-and-loader {
    position: relative;

    #loader {
        align-items: center;
        background-color: var(--w-color-surface-tooltip);
        border: 0.125rem solid var(--w-color-border-furniture);
        color: var(--w-color-text-button);
        display: flex;
        font-size: 1.5rem;
        height: 5rem;
        justify-content: center;
        margin: 0 calc(50% - (12.5rem / 2));
        position: absolute;
        top: calc(40vh - (5rem / 2));
        width: 12.5rem;
        z-index: 1000;

        &.hide {
            display: none;
        }
    }
}

div.table-container {
    overflow: scroll;
    padding: 1.25rem;
}

#skip-map-forward {
    left: calc(50% - 10.125rem / 2);
    margin: -2rem 0 0;
    position: absolute;
}

#skip-map-back {
    left: calc(50% - 9.0625rem / 2);
    margin: 1rem 0 0;
    position: absolute;
}

@media (max-width: 599px) {
    form.filters {
        .inputs-container {
            flex-direction: column;

            .input-wrapper {
                margin: 0 0 0.5rem;
                width: 100%;
            }
        }

        .checkboxes-container {
            label {
                width: 50%;
            }
        }
    }
}
