@use 'shared-styles/leaflet';

#image-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
        margin: 0 1.5rem;
        width: 50%;
    }
}

#specimen-details-container {
    display: flex;
    flex-direction: row;
    min-height: 50vh;

    table {
        margin: 0 1.5rem;
        width: 50%;

        tr {
            th {
                padding: 0 0.5rem 0 0;
                text-align: right;
                width: 25%;
            }

            td {
                padding: 0 0 0 0.5rem;
            }
        }
    }
}

@media (max-width: 785px) {
    #image-container {
        flex-direction: column;
        padding: 0 1.5rem;

        img {
            margin: 0.5rem 0;
            width: 100%;
        }
    }

    #specimen-details-container {
        flex-direction: column;
        padding: 0 1.5rem;

        table {
            margin: 0.5rem 0;
            width: 100%;
        }
    }
}
