ul.taxonomy-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 15rem);
    justify-content: center;
    list-style: none;
    padding: 0 1rem;

    li {
        background-color: var(--w-color-surface-dashboard-panel);
        border: 0.0.625rem solid var(--w-color-border-furniture);
        min-height: 14rem;
        min-width: 15rem;

        a {
            align-items: center;
            color: var(--w-color-text-context);
            display: flex;
            flex-direction: column;
            font-size: 1.125rem;
            min-height: 14rem;
            justify-content: flex-start;
            text-decoration: none;

            &:focus-visible,
            &:hover {
                outline: var(--w-color-focus) 0.3125rem solid;

                .common-name,
                .taxon-name {
                    outline: none;
                    text-decoration: underline;
                }
            }

            svg {
                border: 0.125rem solid var(--w-color-border-furniture);
                height: auto;
                margin: 0.75rem 0;
                width: 13.5rem;
            }

        }
    }
}
